<div class="rategroup">
    <form class="rating">
        <input type="radio" name="rating" value="4" ng-checked="rate == 4" />
        <label for="star5" title="Expert" ng-click="click(4)">☆</label>
        <input type="radio" name="rating" value="3" ng-checked="rate == 3" />
        <label for="star4" title="Experienced" ng-click="click(3)">☆</label>
        <input type="radio" name="rating" value="2" ng-checked="rate == 2" />
        <label for="star3" title="Informed" ng-click="click(2)">☆</label>
        <input type="radio" name="rating" value="1" ng-checked="rate == 1" />
        <label for="star2" title="Introductory" ng-click="click(1)">☆</label>
        <input type="radio" name="rating" value="0" ng-checked="rate == 0" />
        <label for="star1" title="None" ng-click="click(0)">☆</label>
    </form>
    <br>
</div>